@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap");

:root {
  // Default Layout
  --default-layout-header-height: 69px;
  --default-layout-header-width: 1250px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 92.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  line-height: 83px;
  text-rendering: optimizeSpeed;
}