@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap");

:root {
  // Default Layout
  --default-layout-header-height: 69px;
  --default-layout-header-width: 1150px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 92.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  line-height: 83px;
  text-rendering: optimizeSpeed;
}

.MuiTablePagination-selectLabel,
.MuiTablePagination-input,
.MuiTablePagination-select,
.MuiTablePagination-root,
.MuiTablePagination-displayedRows,
.MuiTablePagination-menuItem {
  font-size: large !important;
}

.MuiFormLabel-root {
  font-size: medium !important;
}
.MuiInputBase-root {
  height: 50px;
}

.MuiInputBase-input {
  font-size: medium !important;
}
.MuiButtonBase-root {
  font-size: medium !important;
}
.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  margin-top: 12px;
}

.MuiAutocomplete-popper,
.MuiAutocomplete-popperDisablePortal {
  font-size: medium !important;
}

.MuiPopper-root {
  font-size: medium !important;
}
