.paper {
    margin: 100px;
}
.content {
    margin: 32px;
 }
.name {
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    margin-left: 24px;
}
.description {
    display: flex;
    flex-direction: column;
    margin: 24px;
    justify-content: flex-start;
    align-items: flex-start;
}
.payment {
    display: flex;
    flex-direction: column;
    margin: 24px;
    justify-content: flex-start;
    align-items: flex-start;
}
