.container {
    direction: row;
    height: 100vh;
  }
  .paper {
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  .img {
    width: 100%;
    margin-top: -1px;
    height: 100%;
  }
  
  input[type="button"] {
    border: none;
    background: #2196f3;
    color: white;
    padding: 12px 24px;
    margin: 8px;
    font-size: 20px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .titleContainer {
    padding-top: 125px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    font-size: 64px;
    font-weight: bolder;
    align-items: center;
    justify-content: center;
  }
  
  .buttonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50px;
  }
  
  .inputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .inputContainer > .errorLabel {
    color: red;
    font-size: 20px;
    transform: translateY(48px);
    position: absolute;
  }
  
  .inputBox {
    height: 48px;
    width: 400px;
    font-size: large;
    border-radius: 8px;
    border: 1px solid grey;
    padding-left: 8px;
  }
  