.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
//   .containerOpen {
//     width: 100%;
//     display: flex;
//   }
  
  .container {
    justify-content: center;
    width: 100%;
    display: flex;
    align-items: center;
  }
  
//   .contentOpen {
//     flex: 1;
//     background-color: white;
//     min-height: 1000px;
//   }
  
  .content {
    width: var(--default-layout-header-width);
    background-color: white;
    min-height: 1000px;
  }
  
//   .functionBarOpen {
//     background: #f0f0f0;
//     margin-top: 2px;
//   }
  
//   div .Open {
//     width: 250px;
//   }
  
//   .functionBarOpen {
//     position: fixed;
//     width: 250px;
//   }
  